link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
h2 Delete Video
.row
   .col-md-6.col-md-offset-1
      p Title: #{video.title}
      p Description: #{video.description}
      form(action="/videos/delete/" + video._id + "?_method=DELETE" method="post")
        button.btn.btn-primary(type='submit') Delete Video