extends layout

block content
  h2 List of Videos and Reviews
  if (videos.length === 0)
    | There are no videos in your list. Add a video below
  .row
    each video in videos
     .col-sm-4
       p Title:  #{video.title}
       p Description: #{video.description}
       each review in video.reviews
         .row
           .col-sm-6
             p Rating:  #{review.rating}
             p Review: #{review.review}
       a(href='/videos/'+video._id) Video Details
       |
       |
       a(href='/videos/delete/' + video._id) Delete Video
  include addvideo
